/*Font*/
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    }

html {
    margin: 0;
    scroll-behavior: smooth;
  }

body {
    background-color: #fff1e6;
    font-family: 'Inconsolata', monospace;    
    font-size: 25px;
}

.project  {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

header {
    margin: 50px;
}

.rectangles {
    background-color: white;
    width: 100%;
    display: flex;
}

.rectangles > div {
    width: 100px;
    height: 100px;
    flex: 1;
}
.rec1 {
    background-color: #70d6ff;
}


.rec2 {
    background-color: #FF70A6;
}

.rec3 {
    background-color: #FF9770;
}

.rec4 {
    background-color: #ffd670;
}

.rec5 {
    background-color: #e9ff70
}

.rec6 {
    background-color: #333533;
}

.player > div {
    position: absolute;
    bottom: 0%;
    height: 50px;
    width: 80px;
    border-radius: 50%;
    transform: scale(1);
    z-index: -1;
  }
  
  @keyframes bounce {
    0% {
      bottom: 0%;
      left: 20%;
    }
    50% {
      bottom: 50%;
      left: 50%;
    }
  
    100% {
      bottom: 00%;
      left: 80%;
    }
  }
